$bc-url: 'http://www.storyville.com/templates/__custom/';

$max-width: 1440px;
$content-width: 960px;

/* colors */
$text-color: #532f18;
$text-soft-color: #c1b18c;

$nav-link-color: #c1b18c;
$nav-link-color-hover: #f5e9c2;
$background-color: #fffef3;

$link-color: #B98647;
$h-color: #532f18;

$border-color: #4b4b4e;